.bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  filter: brightness(0.5);
  background-position: center center;
  background-size: cover;
  z-index: -1;
}
.container {
  height: 100vh;
  padding-top: 80px;
}
.mainContent {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem 2rem 0;
  display: flex;
}

.coverImg {
  width: 350px;
  height: 500px;
  border-radius: 5px;
}
.movieInfo {
  flex: 1;
  position: relative;
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
}
.infoMiddle {
  flex: 1;
  padding: 2rem 0;
}
.description {
  font-size: 1.2rem;
  line-height: 1.25;
}
.movieTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.subTitle {
  font-size: 1.25rem;
  margin-right: 10px;
}
.genreList {
  margin-top: 0.5rem;
}
.genreList > li {
  display: inline-block;
  margin: 2.5px;
  padding: 5px;
  background-color: red;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
}
.infoBottom {
  text-align: center;
}
.infoBottom > h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #ffffff;
}
.downloadBtn {
  display: inline-block;
  padding: 10px;
  margin: 0 5px;
  color: #ffffff;
  font-weight: 600;
  background-color: red;
  border-radius: 5px;
}

@media screen and (max-width: 800px) {
  .mainContent {
    flex-direction: column;
    padding: 5rem 0.5rem 0;
  }
  .imgBox {
    text-align: center;
  }
  .movieInfo {
    margin: 2rem 0;
    padding: 0;
  }
  .movieTitle {
    font-size: 1.25rem;
  }
  .subTitle {
    font-size: 1rem;
    margin-right: 10px;
  }
  .description {
    text-align: center;
    font-size: 1rem;
    line-height: 1.25;
  }
  .infoTop {
    text-align: center;
  }
}
