.container {
  box-sizing: border-box;
  max-width: 1050px;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
